<div class="container">
  <h2 class="title-lg mb">Question edit <%= @question.id %></h2>
  <%= render 'form', question: @question %>
  <p class="mt-sm">or <%= link_to "Back", user_path(@question.user) %></p>
</div>